tensorflow>=2.7.0
pandas>=1.2.4
scikit-learn>=0.24.1
scikit-image>=0.18.1
scipy>=1.6.2
matplotlib
mlflow>=1.21.0
SimpleITK>=2.1.1
pyyaml>=5.4.1
albumentations>=1.1.0
tqdm>=4.61.2
pytest>=6.2.5
pytest-dependency>=0.5.1
